@font-face {
  font-family: Space Mono;
  src: url(./fontes/Space_Mono/SpaceMono-Regular.ttf);
}
* {
  font-family: Space Mono;
}
#container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  /* width: 100%; */
}
.p_player {
  width: 30%;
}

#personal_info {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}
#profile_pic {
  height: 100px;
  width: 100px;
}
#main_content {
  height: 100vh;
  border-radius: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
}
#main_content:hover {
  background-color: #445fa4;
  color: white;
  border: solid black;
}
.mainsubsections:hover {
  background-color: #445fa4;
  border: solid black;
}
#main_titles {
  display: grid;
  justify-content: center;
  align-items: center;
}
#p_describes {
  padding: 30px;
}
.habilities_title {
  display: grid;
  justify-content: center;
  align-items: center;
}
#classifications {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 30px;
}
#classifications:hover {
  background-color: #9aa5bf;
  color: white;
  border: solid black;
}
.classification_subtitle {
  display: grid;
  justify-content: center;
  align-items: center;
}
header:hover {
  background-color: #06153c;
  color: white;
  border-radius: 30px;
}
@media screen and (max-width: 1024px) {
  header {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 769px) {
  * {
    font-size: 14px;
  }
}

@media screen and (max-width: 376px) {
  .formation {
    margin: 20px;
  }
  #profile_pic {
    margin-top: 10px;
  }
  * {
    font-size: 12px;
  }
}
